version: '3'
services:

    pythonapp:
        build: ./python/
        command: sh -c "sleep 30s ; python3 scripts/ingestion.py"
        depends_on:
        - mysql

    mysql:
        restart: always
        build: ./mysql/
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: db
